{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="grid">
    <div class="folder">
        <div class="icons"><img src="static/image/folder.png" width="120" alt=""></div>
        <p>Dossier 1</p>
    </div>
    <div class="folder">
        <div class="icons"><img src="static/image/folder.png" width="120" alt=""></div>
        <p>Dossier 2</p>
    </div>
    <div class="folder">
        <div class="icons"><img src="static/image/folder.png" width="120" alt=""></div>
        <p>Dossier 3</p>
    </div>
    <div class="folder">
        <div class="icons"><img src="static/image/folder.png" width="120" alt=""></div>
        <p>Dossier 4</p>
    </div>
    <div class="folder">
        <div class="icons"><img src="static/image/folder.png" width="120" alt=""></div>
        <p>Dossier 5</p>
    </div>
</div>
{% endblock %}