{% extends "base.html" %}

{% block title %}Fichiers{% endblock %}

{% block content %}
<div style="padding: 20px;">
    <div style="text-align: center; ">
        <h2 style="font-family: match;margin-bottom: 2%; ">Fichiers de la categorie {{category_name}}</h2>

    </div>


    <div class="row justify-content-center">
        {% for file in files %}
        <div class="col-md-3 mb-4">
            <div class="card shadow-lg border-0 rounded-4" style="background-color: #b9f6e0 !important;"
                >
                <img src="../static/image/word.png" width="80" class="card-img-top mx-auto mt-3"
                    alt="Image de l'élément" style="max-width: 60px;">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">{{ file[1] }}</h5>
                    <p class="card-text text-muted">Document disponible</p>
                    <div class="d-flex justify-content-center gap-4">
                        <a href="#" onclick="window.location.href='/fichier/{{ file[0] }}'" class="text-dark fs-4 mr-2" title="Afficher">
                            <i class="fas fa-eye transition-hover"></i>
                        </a>
                        <a href="#" class="text-primary fs-4 mr-2" title="Modifier">
                            <i class="fas fa-edit transition-hover"></i>
                        </a>
                        <a href="#" onclick="alertDelete('{{file[0]}}')" class="text-danger fs-4 mr-2" title="Supprimer">
                            <i class="fas fa-trash-alt transition-hover"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        function alertDelete(id) {
            if (confirm("Êtes-vous sûr de vouloir supprimer ce fichier ?")) {
                window.location.href = `/fichier/delete/${id}`;
            }

        }
    </script>


    {% endblock %}
</div>